.Rproj.user
.Rhistory
.Rprofile
.RData
.Ruserdata
.txt
src/**/*.o
src/**/*.so
src/**/*.dll
*.log

vignettes/figures
revdep
.commit

**/*.log
**/*.txt

**/tex2pdf*/
**/Rplots.pdf

vignettes/*_cache/
vignettes/Prebuild/*_cache/
vignettes/pandoc*.pdf
vignettes/Prebuild/figure/
vignettes/Prebuild/cache/
vignettes/Prebuild/logit_sim_*.RDS
vignettes/figure/

# Ignore everything
vignettes/Prebuild/Particle_filtering/*
# But not these files...
!vignettes/Prebuild/Particle_filtering/Particle_filtering.pdf
!vignettes/Prebuild/Particle_filtering/Particle_filtering.tex

sandbox/*
**/Rprof.out
**/Sweave.sty
README_cache
