.Rproj.user
.Rhistory
.RData
.Ruserdata
.txt
**/*.txt
src/*.o
src/*.so
src/*.dll
*.log
**/*.log
.pdf
inst/doc
vignettes/figures
src-i386
src-x64
revdep
**/tex2pdf*/
vignettes/*_cache/
vignettes/Prebuild/*_cache/
vignettes/pandoc*.pdf
vignettes/Prebuild/figure/
vignettes/Prebuild/cache/
vignettes/jss/cache/
vignettes/jss/figure/
vignettes/jss/sim_env.Rds
vignettes/jss/results_from_simulation.Rds
vignettes/jss/jss*
vignettes/jss/jss*
sandbox/*
Rprof.out
Sweave.sty
