.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
*.log
**/*.log
.pdf
inst/doc
vignettes/figures
get_expect_equal.txt
dunsurv.txt
dynsurv.txt
tmp.txt
src-i386
src-x64
revdep
**/*_cache/
**/tex2pdf*/

vignettes/jss/
vignettes/Prebuild/cache/
sandbox/*
